MONGODB_URI=
CLIENT_ID=
CLIENT_SECRET=
NEXT_PUBLIC_UPPY_COMPANION_URL=https://companion.uppy.io
NEXT_PUBLIC_GOOGLE_DRIVE_PICKER_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_DRIVE_PICKER_API_KEY=
NEXT_PUBLIC_GOOGLE_DRIVE_PICKER_APP_ID=
